@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

/*_____________________NavBar____________________________*/

header nav a{
	margin: .2em .5em;
	display: block;
	width: 150px;
}
li .active {
	background-color: orange;
}
header li {
	max-width: 300px;
	text-align: center;

}
.navbar-dark .navbar-nav .active{
	background-color: #138496;
}

/*# ____________________accueil________________________*/
#accueil {
  background-color: #8C9DEF;
  width: 100%;
  margin: 0;
}
#accueil div{
  display: flex;
  justify-content: center;

}

#accueil h1 {
  text-align: center;
  font-family: 'Roboto' , sans-serif;
}

#accueil {
  padding: 10px;
}
#accueil div{
	display: flex;
	justify-content: center;
}

/* ______________________Profil______________________*/
/*Apparence de la page*/
.profils
{
  background-color: #8C9DEF;
  padding-top: 5%;
}
.profils h1
{
  padding-bottom: 5%;
  text-align: center;
  color: rgb(244, 107, 109);
}

/* Apparence de l'image*/
.profils .photo_de_profil img
{
  max-width: 100%;
  max-height: 100%;
  border: 2px solid white;
}

/* Apparence du bloc photo*/
.profils .photo_de_profil
{
  position: relative;
}
.profils .photo_de_profil h3
{
  position: absolute;
  bottom: -1%;
  background-color: white;
  padding-left: 30%;
  padding-right: 31%;
  padding-bottom: 5%;
  padding-top: 5%;
  color: rgb(244, 107, 109);
}

/*Apparence de la liste*/
.profils ul
{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 5%;
}
/*_______________________footer______________________*/
footer {
	color: white;
}

/*# groupe*/
#groupe div{
  display: flex;
  justify-content: center;
}

#groupe{
  margin: 10px;
}


/*    ---------------------------Groupe    --------------------------------------*/

.groupe img{
  max-width: 100%;
  max-height: 100%;
}

.groupe {
  background: url("img/Pele-Mele.jpg") no-repeat center fixed;
  background-size: cover;
}

.groupe h1{
  font-weight: bold;
  color:  white;
  font-size: 75px;
  text-align: center;
}

.groupe .photos a{
  display: block;
  width: 100%;
  position: relative;
}
.row div {
  position:relative;
}
.groupe .photos a:hover{
  text-decoration: none;
}
.groupe .photos p{
  display: block;
  width: 100%;
  height: 2em;
  color: #F76C6C;
  position: absolute;
  top: 80%;
  font-size: 18px;
  text-align:center;
  background-color: rgba(26, 0, 0, 0.5);
}
.groupe .photos a:hover p{
  border-top: 1px dotted red;
  border-bottom: 1px dotted red;
}
.groupe  .center ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.groupe .nav-item{
  width: 10%;
  height: 10%;
}

.groupe .nav-item img{
  min-width: 40px;
  min-height: 40px;
}

.nav-pills .nav-link.active{
  background-color: transparent;
}




/*    -----------------------------Footer   -------------------------------------*/



footer ul{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   list-style: none;
   width: 100%;
   padding: 0;

 }
 footer ul li{
 	margin: 1em;
 }

.btn_info{
	display: block;
	width: 500px;
}

.wcs_contact {
	font-size: 2em;
}

 .wcs-social-media a{
 	display: block;
}
footer {
  background-color: black;
  padding: 10px;
}

 footer {
 	background-color: black;
 	padding: 10px;

 }

.wcs_contact {
	font-size: 2em;
}

 .wcs-social-media a{
 	display: block;
 	margin: 1em;

 }
footer a {
 	color: white;
 }
 footer a:hover {
 	color: white;
 	text-decoration: none;
 }
footer .love {
	text-align: center;
}
 footer .love span {
 	color: #f76c6c;
 }


footer a:hover {
  color: white;
  text-decoration: none;
}

.wcs_contact {
  font-size: 2em;

}

/* _________________________________formulaire__________________________________

/*_________________panoramique______*/

.panoramique
{
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #F76C6C;
  border-radius: 5px;
}

.panoramique img
{
   display:block;
  width:100%;
  height:100%;
  margin: auto;
}







/*__________________table___________*/
/* CSS used here will be applied after bootstrap.css */
/* Style inputs, select elements and textareas */
.formulaire input[type=text],
.formulaire input[type=tel],
.formulaire input[type=email],
.formulaire select,
.formulaire textarea{
  width: 100%;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the label to display next to the inputs */
.formulaire label {
  padding: 4%;
  display: inline-block;
}
.formulaire .label_centre
{
  display: flex;
  justify-content: center;
}

/* Style the submit button */
.formulaire input[type=submit] {
  background-color: #F76C6C;
  color: white;
  padding: 1% 8%;
  border-radius: 4px;
  margin: auto;
}
.submit_row
{
  margin-top: 10%;
  margin-bottom: 10%;
}

/* Style the container */
/*.contact_us
{
  margin-top: 10%;
  }*/

.formulaire {
  border-radius: 5px;
  background: url('img/WCS_logo.png') no-repeat 15% 70% #f2f2f2;
  padding: 20px;
}
/* Style the text */
.formulaire h1,
.formulaire p
{
  text-align: center;
  margin-top: 10%;
}


 /* _________________________________fin de formulaire__________________________________*/



 footer a:hover {
 	color: white;
 	text-decoration: none;
 }

footer .love {
	text-align: center;
}
 footer .love span {
 	color: #f76c6c;
 }


.wcs_contact {
  font-size: 2em;
}





/* CSS
>>>>>>> groupe
>>>>>>> 95f8308ad95b69608477a3731f73e85a88229f6f
>>>>>>> 1a8c7861d48ff66ad78e88933fae1e4b9b6d6792
